@import "bootstrap";

html,
body {
  height: 100%;
}

.navbar {
  background-color: black !important;
  margin-bottom: 0;
}

.nav-link {
  color: white !important;
}

#logo {
  color: white;
}

#page-content {
  background-color: lightgray;
  min-height: 100%;
}

#home-container {
  padding-top: 25px;
  min-height: 100%;
}

#home-jumbotron {
  background-image: asset-url("home_jumbotron.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.underlined-link {
  text-decoration: none;
}

.underlined-link:hover {
  text-decoration: underline;
}