<footer id="sticky-footer" class="footer mt-auto py-3 bg-dark text-center flex-shrink-0">
  <div class="container">
    <span class="text-white">Copyright<i class="fa fa-copyright"></i> </span>
    <%= link_to "Johan Goh", "https://4rtific3.github.io/", class:"text-white underlined-link" %>
  </div>
</footer>